.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialog {
  color: rgb(42, 160, 75);
}

.dialogsItems {
  padding: 10px;
}

.dialogsItems .active {
  color: gold;
}

.messages {
  padding: 10px;
}

.message {
}
